/* .App {
  /* display: flex;
  flex-direction: column;
  align-content: center; */
  /* align-self: flex-end; */
/* } */
  /* align-items: center; */
/* } */ */
.body{
 background-image: url("http:/localhost:3000/service.jpg");
}

.Loader {
  display: flex;
  align-self: center;
  flex-direction: column;
  color: #1d1d1d;
}

.customersBtn {
  position: absolute !important;
  top: 40px;
  left: 40px;
}

.reportBtn {
  position: absolute !important;
  top: 40px;
  left: 180px;
}

.servicesBtn {
  position: absolute !important;
  top: 40px;
  left: 360px;
}

.ordersButton {
  position: absolute !important;
  top: 40px;
  left: 480px;
}

.orders-heading {
  /* position: relative; */
  left: 40px;
}

.carsButton {
  position: absolute !important;
  top: 40px;
  left: 590px;
}
  .customers-header {
  /* position: relative; */
  left: 40px;
  }

.reservationsBtn {
  position: absolute !important;
  top: 40px;
  left: 678px;
}

.home-interface {
  margin-top: -21px;
}

.content-home p{
  margin-left: 300px;
  font-size: 25px;
  color: rgb(233, 220, 220);
}
.title {
  margin-left: 500px;
  color: #fff;
}
.select-label-home {
  margin-left: 500px;
  font-size: 20px;
  color: #fff;
}

.select-label {
  margin-top: 32px;
}

.select-label-text {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
}

.about-us{
  text-align: center;
  color: #fff;
}

.about-section {
  text-align: center;
  color: #fff;
}

.paragraphs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 28%;
  color: rgb(233, 220, 220);
  font-size: 23px;
}

.table {
 margin-left: 40px;
}

.form-book-service {
  margin-left: 600px;
}

.message-prices-services {
  text-align: center;
  color: rgb(88, 88, 88);
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: underline;
}

.admin-panel-components {
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
}

.admin-panel-heading {
  margin-left: 40px;
  margin-bottom: 80px;
}

.delete-button {
  left: 10px;
}

.create-button {
  left: 30px;
}

.home {
  margin: auto;
  padding: 10px;
  text-align: center;
  left: 30%
}

.signin {
  width: 300px;
  background: hsl(0deg 0% 92.5%);
  padding: 32px ;
  font-family: system-ui;
  margin: 3em auto ;
}

.forgotten {
  width: 300px;
  background: hsl(0deg 0% 92.5%);
  padding: 32px;
  font-family: system-ui;
  margin: 3em auto;
}

.register {
  width: 300px;
  background: hsl(0deg 0% 92.5%);
  padding: 32px;
  font-family: system-ui;
  margin: 3em auto;
}

.error pre {
  font-family: Caveat, serif;
  color: red;
  font-size: 18px;
}

.not-found {
  color: white;
  text-align: center;
}
.formbook{
  color:aliceblue
}
.buttonsign{
  position: absolute;
  font-family: Caveat, serif;
  display: inline-block;
  padding: 5px 7px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1d1d1d;
  border: none;
  border-radius: 45px;
  box-shadow: 0 9px #999;
  margin-top: 10px;
}
.customertemplate{
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 32px;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 42px;
  margin-top: 35px;
}

.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 30px;
  margin-top: 33px;
  height: 50%;
}

.card-order {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 550px;
  margin-top: 33px;
  height: 20%;
}

.order {
  text-align: left;
}

.order-message {
  margin-left:  120px;
}

.orders-header {
  margin: 45px;
  margin-left: 505px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
  color: red;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.titleDesi {
  color: red;

}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.text{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: min-content;
}
.letters{
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  color: #1d1d1d;
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color:#1d1d1d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}